.message-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 9999;
    display: none; /* Initially hide the message box */
}

.message-content {
    position: relative;
}

p{
    padding-right: 2rem;
    padding-top: 5px;
  }

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.close:hover {
    color: #ff0000;
}
